@import './Variable.scss';

.kontak {
  .kontak__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 992px) {
      padding: 1rem 0;
    }

    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2.5rem;

      h1 {
        font-size: $h1-fs;
        color: $title-c;
        letter-spacing: 1px;
        font-family: $sec-f;
      }

      p {
        font-size: $h3-fs;
        letter-spacing: 1px;
        font-weight: 400;
      }
    }

    .content {
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 350px;
      align-items: center;
      margin: 0 auto;
      border-radius: 12px;
      margin-bottom: 3rem;

      @media only screen and (max-width: 768px) {
        flex-direction: column;
        height: 100%;
      }

      .form {
        form {
          .inputBox {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            border: 2px solid $primary-c;
            padding: 2rem;
            width: 100%;
            height: auto;
            border-radius: 6px;

            label {
              font-size: $h3-fs;
              color: $title-c;
              letter-spacing: 1px;
              text-align: center;
            }

            input {
              width: 300px;
              height: 40px;
              border: none;
              outline: none;
              background-color: transparent;
              border-bottom: 2px solid $title-c;
              color: $text-c;

              @media only screen and (max-width: 468px) {
                width: 100%;
              }
            }

            textarea {
              width: 300px;
              height: 70px;
              resize: none;
              border: none;
              outline: none;
              color: $text-c;
              background-color: transparent;
              border-bottom: 2px solid $title-c;

              @media only screen and (max-width: 468px) {
                width: 100%;
                height: 65px;
              }
            }

            button {
              width: 100%;
              height: 40px;
              border: none;
              outline: none;
              background-color: $primary-c;
              border-radius: 12px;
              cursor: pointer;
              letter-spacing: 1px;
              font-size: $h3-fs;
              color: $body-c;
            }
          }
        }
      }

      .maps {
        overflow: hidden;

        iframe {

          @media only screen and (max-width: 468px) {
            width: 100%;
            height: 200px;
          }
        }
      }
    }

    .box {
      width: 300px;
      margin: 0 auto;
      height: 100px;
      padding: 1rem;
      background-color: $primary-c;
      border-radius: 12px;
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;

      .box__content {
        width: 50px;
        height: 40px;
        background-color: $body-c;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        cursor: pointer;

        a {
          font-size: $h3-fs;
          color: $title-c;
        }

        &:hover {
          background-color: transparent;
          border: 1px solid $body-c;
          box-shadow: 0 0 10px $body-c;

          a {
            color: $body-c;
          }
        }
      }
    }
  }
}